
body{
    padding: 0;
    margin: 0;
    background-color: rgb(171, 136, 117);
}

header{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 232, 214,0.2);
}
.main_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftside_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
}

#buttons{
    text-decoration: none;
}

.rightside_nav{
    display: flex;
    align-items: center;
    padding-right: 30px;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;

}

.middleside_nav{
    display: flex;
    align-items: center;
    margin-right: 115px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
}

#buttons{
    padding: 10px;
    color: rgba(255, 255, 255, 0.6);
}


.aboutme{
    display: flex;
    justify-content: center;
    color: rgba(32, 28, 28, 0.7);
    flex-direction: column;
    width: 30%;
}

.aboutheading{
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    font-size: 30px;
}

.middlediv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    background-image: linear-gradient(rgba(183, 183, 164,0.2),rgba(165, 165, 141,0.8));
}

.img_div{
    display: flex;
    align-items: center;
}

.imgdev{
    width: 400px;
    height: 200px;
}

.skillsdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    background-image: linear-gradient(rgba(165, 165, 141,0.5),rgba(183, 183, 164,0.2));
}

.leftsideddiv{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.rightsideddiv{
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-size: 25px;
    padding: 30px;
}



